:root {
  --cyan600: #4D96A9;
  --cyan300: #8FE3F9;
  --purple600: #855FB1;
  --purple300: #D9B8FF;
  --slate900: #28283D;
  --slate600: #87879D;
  --slate300: #D1D1DF;

  --ffamily: "Red Hat Display", sans-serif;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ffamily);
  line-height: 110%;
  font-size: 1rem;
  color: var(--slate900)
}

/* TYPOGRAPHY */
.text1 {
  font-size: 2.8rem;
  line-height: 100%;
  font-weight: 800;
}

.text2 {
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 100%;
}

.text3 {
  font-size: 1rem;
  text-transform: uppercase;
  color: var(--cyan600);
  font-weight: bold;
  letter-spacing: 4px;
  line-height: 110%
}

.text4 {
  font-size: 1.125rem;
  line-height: 150%;
}

.text5 {
  font-weight: bold;
  line-height: 150%;
  font-size: 1rem;
}

/* COLORING */
.slate600 {
  color: var(--slate600)
}

.cyan {
  background-color: var(--cyan600);
}

.opaque-cyan {
  color: var(--cyan300)
}

.purple {
  background-color: var(--purple600);
}

.opaque-purple {
  color: var(--purple300)
}

/* BUTTONS */

.buttons {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.btn {
  color: white;
  padding: 1em 1.75em;
  border-radius: 29px;
  font-weight: bold;
  text-decoration: none;
}


/* HEADER */

header {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 5em;
}

.hero-img {
  width: 110%;
  margin-left: -20%;
  margin-right: -20%;
}

.hero-content {
  padding: 0 2rem;
  margin-top: 3em
}

.hero-content h1 {
  margin-bottom: 0.5em;
}

/* TRANSITION */
.transition {
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.line {
  width: 1px;
  height: 100px;
  border: 1px solid var(--slate300);
  display: block;
}

.transition-number {
  border: 1px solid var(--slate300);
  border-radius: 50%;
  padding: 1em 1.25em;
  display: block;
  background-color: white;
}

.bottom .transition {
  position: absolute;
  bottom: 66%;
  z-index: 1;
}

/* MIDDLE */
.middle {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15em;
  padding: 0 2rem;
}

.gallery {
  display: grid;
  gap: 15px;
  grid-template-areas:
  "one two"
  "three four";
  margin-bottom: 64px;
}

.gallery > img {
  width: 150px;
  border-radius: 10px;
}
.gallery-photo-1 {
  grid-area: one;
}
.gallery-photo-2 {
  grid-area: two;
}
.gallery-photo-3 {
  grid-area: three;
}
.gallery-photo-4 {
  grid-area: four;
}

.middle-content > h2 {
  margin-bottom: 1em;
}

.middle-content > h3 {
  margin-bottom: 2rem;
}





/* BOTTOM */
.bottom {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(rgba(77, 150, 168, 0.8), rgba(77, 150, 168, 0.8)), url('./assets/image-footer-tablet.jpg') ;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-color: var(--cyan600); */

  position: relative;
}

.bottom-content {
  padding: 64px 2rem;

}

.bottom-content h2 {
  margin-bottom: 25px;
}

.bottom-content p {
  margin-bottom: 2.25em;
}
